body {
  font-family: Inter, sans-serif;
  font-size: 11px;
  margin: 0;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 11px;
  font-weight: 600;
  padding: 16px;
  padding-bottom: 8px;
  margin: 0;
  margin-top: -1;
}
h1,
h2 {
  border-top: 1px solid #e5e5e5;
}
.indent h1,
.indent h2,
.indent h3,
.indent h4,
.indent h5,
.indent h6 {
  padding: 8px;
  padding-bottom: 4px;
}
.section + h2 {
  margin-top: 8px;
}
p {
  margin: 8px;
  margin-bottom: 16px;
  padding: 0;
}
.section {
  margin: 8px;
  margin-bottom: 1px;
  margin-top: 0;
}
.indent {
  margin-left: 24px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 32px;
}
main {
  height: calc(100vh - 48px);
  margin-bottom: 48px;
  overflow-x: scroll;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  padding: 8px;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  z-index: 999999;
}
main .button {
  margin-left: 8px;
}
.input--with-label .input__field {
  padding-left: 55px;
}
.input--with-label .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: var(--size-medium);
  z-index: 1;
}
.disclosure {
  margin-bottom: 8px;
}
.disclosure__content {
  padding-top: 0;
  margin-left: -8px;
  margin-top: -8px;
}
.input {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.disclosure__item.disclosure--expanded {
  margin-bottom: -8px;
}
.button--tertiary,
.button--tertiary-destructive {
  background: none;
}
.button--primary:disabled {
  background-color: var(--blue3);
}
a {
  color: #18a0fb;
  text-decoration: none;
}
a::after {
  content: ' →';
}
